/* Variables */

$gudea: 'Gudea',
sans-serif;
$teal: #4b88a2;
$grey: #CAD8DE;
$charcoal: #252525;
$font-color: #0C120C;
html {
    color: $font-color;
    font-family: $gudea;
    margin: -.5em;
    margin-top: 0;
    padding: 0;
    body {
        margin: 0;
        padding: 0;
        h1 {
            margin: 0;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        section {
            padding: 0 1.5em 0 2em;
            height: 37em;
        }
    }
}

section.marquee {
    background-image: url('../../images/index.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 73%;
}

header {
    font-size: 1em;
    text-align: right;
    margin: 0;
    i {
        border-top: 113px solid $teal;
        border-left: 119px solid transparent;
        position: relative;
        top: 8.34em;
        left: 1%;
        z-index: 100;
        pointer-events: none;
    }
    div {
        text-align: left;
        h1 {
            padding: 0 .5em;
            background-color: $grey;
            border-bottom: 1px solid $font-color;
            margin: 0;
            opacity: .7;
            text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }
        div {
            background-color: $grey;
            opacity: .7;
            margin-top: 1em;
            border-bottom: 1px solid $font-color;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            h2 {
                text-transform: uppercase;
                margin: 0;
                padding: .2em .5em;
                font-size: 1.1em;
                float: left;
                text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
            }
            ul {
                background-color: $charcoal;
                width: 100%;
                padding: .5em 0;
                display: inline-block;
            }
            li {
                display: inline-block;
                margin: 0 .75em 0 0;
            }
            a {
                padding: .5em .7em;
                color: $grey;
                text-decoration: none;
            }
        }
    }
}

section.profile {
    padding-top: 2em;
    height: 53em;
    background-image: url('../../images/dark_geometric_@2X.png');
    div.profile-desc {
        background-color: $grey;
        opacity: .7;
        padding: .5em 1.5em 0;
        h1 {
            margin: .5em 0;
        }
        p {
            line-height: 1.7em;
            margin-bottom: 0;
        }
        span {
            position: relative;
            left: 8em;
            bottom: 1em;
            a {
                margin: 0 .4em;
            }
            img.mail {
                position: relative;
                top: 3px;
            }
        }
    }
}

section.skills {
    padding-left: 0;
    padding-right: 0;
    height: 72.5em;
    background-color: #D9D9D9;
    h1 {
        text-align: center;
        padding: .5em 0;
        background-color: $teal;
        border-top: 3px solid $grey;
        border-bottom: 3px solid $grey;
        margin-bottom: 1em;
    }
    div.skill-area {
        padding: 0 2em;
        h2 {
            display: inline-block;
            margin: 0;
            padding: .5em 0 .5em .5em;
            background: linear-gradient(to right, $teal, #D9D9D9);
        }
        h2.angular {
            width: 65%;
        }
        img {
            float: right;
            padding-right: .5em;
        }
        img.multi {
            padding-right: 0;
        }
    }
    div.toolkit {
        h2 {
            text-align: center;
            padding: .5em 0;
            background-color: $teal;
            border-top: 3px solid #CAD8DE;
            border-bottom: 3px solid #CAD8DE;
        }
        ul {
            margin: 0 3em;
            li {
                height: 2.5em;
            }
            span {
                float: left;
                margin-top: .5em;
                padding-left: 1em;
            }
            img {
                float: left;
            }
        }
    }
}

section.projects {
    /* Have section that adjusts height according
        to contents */
    height: 135em;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    background-color: #D9D9D9;
    h1 {
        text-align: center;
        padding: .5em 0;
        background-color: $teal;
        border-top: 3px solid $grey;
        border-bottom: 3px solid $grey;
    }
    h3:active {
        background-color: $charcoal;
        margin: 0;
        padding: 1em;
    }
    ul {
        display: none;
        li {
            padding: 1.5em 0;
            color: $grey;
            background-color: $charcoal;
        }
        li.active {
            background-color: $teal;
        }
    }
    div.project-wrapper {
        padding: 2em;
        article {
            height: 10em;
            border: 2px solid black;
            margin: 2em 0;
            background-size: cover;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            h3 {
                text-align: left;
                padding: .5em;
                margin: .6em 0;
                background: linear-gradient(to right, $teal 20%, #D9D9D9, transparent);
            }
            p {
                text-align: right;
                position: relative;
                font-size: 1em;
                top: 31%;
                background-color: $charcoal;
                color: $grey;
                opacity: .9;
                padding: .2em .5em;
            }
        }
        /* PROJECT PHOTOS */
        
        #reader {
            background-image: url(../../images/project-sm/feedReader_sm.png);
        }
        #openMic {
            background-image: url(../../images/project-sm/openMic.png);
        }
        #meanTodo {
            background-image: url(../../images/project-sm/meanTodo.png);
        }
        #reactList {
            background-image: url(../../images/project-sm/reactList_sm.png);
        }
        #store {
            background-image: url(../../images/project-sm/store_sm.png);
        }
        #weather {
            background-image: url(../../images/project-sm/weather_sm.png);
        }
        #instagram {
            background-image: url(../../images/project-sm/instagram_sm.png);
        }
        #madLibs {
            background-image: url(../../images/project-sm/madLib_sm.png);
        }
        #waitStaff {
            background-image: url(../../images/project-sm/waitstaff_sm.png);
        }
        #musicDisc {
            background-image: url(../../images/project-sm/musicdiscovery.png);
        }
    }
}

footer {
    height: 40em;
    background-image: url('../../images/dark_geometric_@2X.png');
    div.contact-container {
        padding: 0 2em;
    }
    h2 {
        text-align: center;
        padding: .5em 0;
        background-color: $teal;
        border-top: 3px solid $grey;
        border-bottom: 3px solid $grey;
        margin-bottom: 1em;
        margin-top: 0;
    }
    ul {
        display: none;
    }
    form {
        background-color: $grey;
        height: 22em;
        margin: 2em auto 1em auto;
        padding: 1em 1.5em;
        font-size: 1.2em;
        input, label {
            margin: .5em 0;
        }
        input {
            width: 97%;
            font-size: 1.2em;
            border: 1px solid $charcoal;
            background-color: #fff;
        }
        textarea {
            width: 95%;
            height: 10em;
            margin-top: 1em;
            font-size: .8em;
            border: 1px solid $charcoal;
        }
        input[type="submit"] {
            margin-top: 1em;
            height: 2em;
            background-color: $teal;
            color: #fff;
        }
    }
}
