/* Variables */

$quattro: 'Quattrocento Sans',
sans-serif;
$gudea: 'Gudea',
sans-serif;
$fira: 'Fira Sans',
sans-serif;
$teal: #4b88a2;
$grey: #CAD8DE;
$font-color: #0C120C;
/*
$font-color: #333;
*/

$divider: #B6B6B6;
$blue: #448AFF;
$drkBlue: #314570;
html {
    color: $font-color;
    font-family: $gudea;
    margin: -.5em;
    margin-top: 0;
    padding: 0;
    body {
        margin: 0;
        padding: 0;
        h1 {
            margin: 0;
        }
        section {
            padding: 0 1.5em 0 2em;
            height: 37em;
        }
    }
}

section.marquee {
    background-image: url('../../images/index.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 73%;
}

header {
    font-size: 1em;
    text-align: right;
    margin: 0;
    i {
        border-top: 113px solid #4b88a2;
        border-left: 119px solid transparent;
        position: relative;
        top: 8.34em;
        left: -.1%;
        z-index: 100;
    }
    div {
        text-align: left;
        h1 {
            padding: 0 .5em;
            background-color: $grey;
            border-bottom: 1px solid $font-color;
            margin: 0;
            opacity: .7;
            text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
        }
        div {
            background-color: $grey;
            opacity: .7;
            margin-top: 1em;
            border-bottom: 1px solid $font-color;
            h2 {
                text-transform: uppercase;
                margin: 0;
                padding: .2em .5em;
                font-size: 1.2em;
                float: left;
                text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
            }
            ul {
                margin: 0;
                background-color: #333;
                width: 100%;
                padding: .5em 0;
                list-style-type: none;
                display: inline-block;
            }
            li {
                display: inline-block;
                margin: 0 .75em 0 0;
            }
            a {
                padding: .5em .7em;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

section.profile {
    background-image: url('../../images/dark_geometric_@2X.png');
    div.profile-desc {
          background-color: #CAD8DE;
          opacity: .7;
    }

}
