section.contact {
    height: 40em;
    padding: 0;
    background-image: url('../images/dark_geometric_@2X.png');
    div.contact-container {
        padding: 0;
    }
    h2 {
        text-align: center;
        padding: .5em 0;
        background-color: $teal;
        border-top: 3px solid $grey;
        border-bottom: 3px solid $grey;
        margin-bottom: 1em;
        margin-top: 0;
    }
    ul {
        
        display: none;
    }
    form {
        background-color: #CAD8DE;
        height: 23em;
        width: 13em;
        margin: 2em auto;
        padding: 1em 2em;
        font-size: 1.2em;
        input, label {
            margin: .5em 0;
            width: 100%;
        }
        input {
            font-size: 1.5em;
            border: 1px solid $charcoal;
            background-color: #fff;
            -webkit-appearance: none;
            border-radius: 0;
        }
        textarea {
            height: 10em;
            margin-top: 1em;
            font-size: .8em;
            width: 87.5%;
            padding: 1em;
            border: 1px solid $charcoal;
        }
        input[type="submit"] {
            margin: 1em 0;
            height: 2.5em;
            background-color: $teal;
            color: #fff;
            font-size: 1em;
        }
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    section.contact div.contact-container {
        form {
            height: 23em;
            width: 17em;
            margin: 3em auto;
            input, textarea, input[type='submit'] {
                width: 100%;
                box-sizing: border-box;
                -webkit-appearance: none;
                border-radius: 0;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    section.contact {
        height: 45em;
        div.contact-container {
            padding: 0;
            form {
                height: 23em;
                width: 17em;
                margin: 3em auto;
                input, textarea, input[type='submit'] {
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    section.contact {
        height: 42em;
        form {
            height: 24.5em;
            width: 21em;
            margin: 0 auto;
            input, textarea, input[type='submit'] {
                width: 100%;
                box-sizing: border-box;
            }
            a {
                padding: .8em;
                background-color: $teal;
            }
            textarea {
                height: 13em;
            }
             input[type="button"] {
                font-size: 1.3em;
            }
        }
    }
}

@media (min-width: 1280px) {
    section.contact {
        height: 50em;
        h2 {
            font-size: 2em;
        }
        div.contact-container {
            padding: 1.5em 0;
        }
        form {
            height: 26em;
            width: 21em;
            margin: 0 auto;
            input, textarea, input[type='submit'] {
                width: 100%;
                box-sizing: border-box;
            }
            a {
                padding: .8em;
                background-color: $teal;
            }
            textarea {
                height: 13em;

            }
            input[type="button"] {
                font-size: 1.75em;
            }
        }
    }
}
