section.marquee {
    height: 36em;
    background-image: url('../images/index.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 99%;
}

header {
    font-size: 1.2em;
    text-align: right;
    i {
        border-top: 5.2em solid #4b88a2;
        border-left: 6em solid transparent;
        position: relative;
        top: 6.4em;
        left: .3%;
        z-index: 100;
        pointer-events: none;
    }
    div {
        text-align: left;
        h1 {
            padding: 0 .5em;
            background-color: $grey;
            border-bottom: 1px solid $font-color;
            margin: 0;
            opacity: .7;
            text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }
        div {
            background-color: $grey;
            opacity: .7;
            margin-top: 1em;
            border-bottom: 1px solid $font-color;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            h2 {
                text-transform: uppercase;
                margin: 0;
                padding: .2em .5em;
                font-size: 1.1em;
                text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
            }
            ul {
                background-color: $charcoal;
                padding: .5em 0;
            }
            li {
                display: inline-block;
            }
            a {
                padding: .5em .7em;
                color: $grey;
                text-decoration: none;
            }
        }
    }
}

@media (min-width: 360px) and (max-width: 380px) {
    section.marquee {
        height: 43em;
    }
}

@media (min-width: 380px) and (max-width: 600px) {
    section.marquee {
        height: 47em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    section.marquee {
        height: 50em;
        background-position: 100% 99%;
    }
    header {
        i {
            left: 0.07%;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1900px) {
    section.marquee {
        height: 54em;
        background-position: 100% 96%;
    }
    header {
        i {
            left: 0.1%;
        }
    }
}

